<config>
    <broker-id>9999</broker-id>
    <investor-id>113752</investor-id>
    <password>123400</password>
    <order-entry>
        <ip>218.202.237.33</ip>
        <port>10002</port>
    </order-entry>
    <market-data>
        <ip>218.202.237.33</ip>
        <port>10012</port>
        <subscription>
            <inst>rb1804</inst>
            <inst>rb1805</inst>
        </subscription>
    </market-data>
</config>
